<div class="navbar">
    <div class="navbar-start">
        <div class="dropdown" role="button" as="button" title="Menu">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                </svg>
            </label>

            <!-- lazy load menu -->
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
                hx-get="/api/menu" hx-trigger="load" hx-swap="innerHTML">
                <li>
                    <img alt="Result loading..." class="htmx-indicator mx-auto" width="32" src="/static/img/bars.svg" />
                </li>
            </ul>
        </div>
    </div>

    <div class="navbar-center">{{template "partials/logo" .}}</div>

    <div class="navbar-end">
        <a href="{{.Repo}}" target="_black" class="btn btn-ghost btn-circle">
            {{template "partials/github-icon" .}}
        </a>
    </div>
</div>
