DB_URL=./test.db

# github credentials
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# discord developer credentials
DISCORD_APP_ID=""
DISCORD_PUBLIC_KEY=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_BOT_TOKEN=""
DISCORD_AUTH_URL=""

