<div class="flex gap-4 align-center py-4">
  <h1 class="text-2xl">{{.Title}}</h1>

  <button class="btn btn-sm" onclick="create_dialog.showModal()">
    + Order
  </button>
</div>

<dialog
  id="create_dialog"
  class="modal modal-middle"
  _="on htmx:afterRequest close() me"
>
  <div class="modal-box">
    <form method="dialog">
      <button
        id="create_dialog_close"
        hx-trigger="create-close"
        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
      >
        ✕
      </button>
    </form>

    <h3 class="font-bold text-lg">Create a new order</h3>
    <form
      hx-post="/api/orders"
      hx-target="#content"
      _="on htmx:afterRequest reset() me"
    >
      <div class="label">
        <span class="label-text">Enter a name</span>
      </div>
      <input
        type="text"
        name="name"
        placeholder="Type a name"
        class="input input-bordered w-full max-w-xs"
      />
      <button class="btn" type="submit">Create Order</button>
    </form>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<div id="content">{{template "partials/order-list" .}}</div>
